@charset "UTF-8";

* {
    font-family: "Inconsolata";
    font-weight: 200 !important;
}

.bordered {
    border: 0.1rem solid #000 !important;
    margin: 10px;
    padding: 10px;
}

.btn {
    background: #000 !important;
    border-radius: 0% !important;
    border-width: 0px !important;
    font-size: auto ;
}

a {
    color: white !important;
}